[package]
name = "farm_with_lock-wasm"
version = "0.0.0"
authors = [ "you",]
edition = "2018"
publish = false

[lib]
crate-type = [ "cdylib",]

[workspace]
members = [ ".",]

[dev-dependencies]

[profile.release]
codegen-units = 1
opt-level = "z"
lto = true
debug = false
panic = "abort"

[dependencies.farm_with_lock]
default-features = false
path = ".."

[dependencies.elrond-wasm-node]
version = "0.29"

[dependencies.elrond-wasm-output]
version = "0.29"
features = ["wasm-output-mode"]
