[package]
name = "proxy-deployer-wasm"
version = "0.0.0"
edition = "2021"
publish = false
authors = ["MultiversX <contact@multiversx.com>"]

[lib]
crate-type = ["cdylib"]

[workspace]
members = ["."]

[dev-dependencies]
[profile.release]
codegen-units = 1
opt-level = "z"
lto = true
debug = false
panic = "abort"
[dependencies.proxy-deployer]
path = ".."

[dependencies.multiversx-sc-wasm-adapter]
version = "=0.43.2"
