[package]
name = "farm-staking-proxy"
version = "0.0.0"
authors = ["MultiversX <contact@multiversx.com>"]
edition = "2021"
publish = false

[lib]
path = "src/lib.rs"

[dependencies]
hex-literal = "0.3.1"

[dependencies.multiversx-sc]
version = "=0.49.0-alpha.4"
features = ["esdt-token-payment-legacy-decode"]

[dependencies.multiversx-sc-modules]
version = "=0.49.0-alpha.4"

[dependencies.farm]
path = "../../dex/farm"

[dependencies.farm-with-locked-rewards]
path = "../../dex/farm-with-locked-rewards"

[dependencies.farm-staking]
path = "../farm-staking"

[dependencies.pair]
path = "../../dex/pair"

[dependencies.pausable]
path = "../../common/modules/pausable"

[dependencies.common_structs]
path = "../../common/common_structs"

[dependencies.config]
path = "../../common/modules/farm/config"

[dependencies.rewards]
path = "../../common/modules/farm/rewards"

[dependencies.utils]
path = "../../common/modules/utils"

[dependencies.token_send]
path = "../../common/modules/token_send"

[dependencies.fixed-supply-token]
path = "../../common/traits/fixed-supply-token"

[dependencies.mergeable]
path = "../../common/traits/mergeable"

[dependencies.unwrappable]
path = "../../common/traits/unwrappable"

[dependencies.sc_whitelist_module]
path = "../../common/modules/sc_whitelist_module"

[dependencies.energy-query]
path = "../../energy-integration/common-modules/energy-query"

[dev-dependencies]
num-bigint = "0.4.2"

[dev-dependencies.multiversx-sc-scenario]
version = "=0.49.0-alpha.4"

[dev-dependencies.farm_token]
path = "../../common/modules/farm/farm_token"

[dev-dependencies.farm-boosted-yields]
path = "../../energy-integration/farm-boosted-yields"

[dev-dependencies.energy-factory]
path = "../../locked-asset/energy-factory"

[dev-dependencies.simple-lock]
path = "../../locked-asset/simple-lock"

[dev-dependencies.locking_module]
path = "../../common/modules/locking_module"
