[package]
name = "sc-proxy-dex-wasm"
version = "0.0.0"
authors = [ "you",]
edition = "2018"
publish = false

[lib]
crate-type = [ "cdylib",]

[workspace]
members = [ ".",]

[dev-dependencies]

[profile.release]
codegen-units = 1
opt-level = "s"
lto = true
debug = false
panic = "abort"

[dependencies.sc-proxy-dex]
features = [ "wasm-output-mode",]
default-features = false
path = ".."

[dependencies.elrond-wasm-output]
version = "0.18"
features = [ "wasm-output-mode",]
