[package]
name = "factory"
publish = false
version = "0.0.0"
edition = "2021"

[lib]
path = "src/lib.rs"

[dependencies]
wee_alloc = "0.4"

[dependencies.common_structs]
path = "../../common/common_structs"

[dependencies.common_errors]
path = "../../common/common_errors"

[dependencies.token_send]
path = "../../common/modules/token_send"

[dependencies.token_merge_helper]
path = "../../common/modules/token_merge_helper"

[dependencies.energy-factory]
path = "../energy-factory"

[dependencies.multiversx-sc]
version = "=0.43.2"
features = ["esdt-token-payment-legacy-decode"]

[dependencies.multiversx-sc-modules]
version = "=0.43.2"

[dependencies.arrayvec]
version = "0.7.1"
default-features = false

[dependencies.itertools]
version = "0.10.1"
default-features = false

[dev-dependencies]
num-bigint = "0.4.2"
num-traits = "0.2"
hex = "0.4"

[dev-dependencies.simple-lock]
path = "../simple-lock"

[dev-dependencies.multiversx-sc-scenario]
version = "=0.43.2"
