[package]
name = "farm-staking-wasm"
version = "0.0.0"
authors = ["MultiversX <contact@multiversx.com>"]
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[workspace]
members = ["."]

[dev-dependencies]
[profile.release]
codegen-units = 1
opt-level = "z"
lto = true
debug = false
panic = "abort"
[dependencies.farm-staking]
default-features = false
path = ".."

[dependencies.multiversx-sc-wasm-adapter]
version = "=0.43.2"
